<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{partial/partial :: head}">
</head>
<body>
    <main class="container-fluid">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form th:action="@{${'/pelicula/' + peliculaDTO.peliculaId + '/editar'}}" method="post" th:object="${peliculaDTO}" class="border rounded shadow-sm p-4">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="" class="form-label">Titulo</label>
                                <input type="text" class="form-control" th:field="*{titulo}" th:value="${peliculaDTO.titulo}">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="" class="form-label">Poster</label>
                                <input type="file" class="form-control" th:field="*{poster}">
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="" class="form-label">Sinopsis</label>
                                <textarea type="text" class="form-control" th:field="*{sinopsis}"></textarea>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="" class="form-label">Duracion</label>
                                <input type="text" class="form-control" th:field="*{duracion}">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="" class="form-label">Clasificacion</label>
                                <input type="text" class="form-control" th:field="*{clasificacion}">
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="" class="form-label">Director</label>
                                <input type="text" class="form-control" th:field="*{director}">
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="" class="form-label">Categoria</label>
                                <select name="categoria" type="text" id="" th:field="*{categoria.categoriaId}" class="form-control">
                                    <option value="">Seleccione una categoria</option>
                                    <option th:each="categoria : ${categorias}" th:value="${categoria.categoriaId}" th:text="${categoria.nombre}" ></option>
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-block btn-success">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>