<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{partial/partial :: head}">
</head>
<title>Salas</title>

<body>
 
    <table width=100% align=center>
     
    </table>
    <center>
      <font size=10>
        <table >
          <tr>
            <td align=right></td>
          </tr>
        </table>
      </font>
    </center>
    <hr>
    <table width=80% align=center border=8>
      <tr>
        <td align=center>
          <img src="img/imagensala1.jpeg" height="150px" width="200px">
          <h1>Sala1</h1>
        <h1>Primer Piso</h1>
        <h1>300 personas</h1>
        <h1>Mañana</h1>
        </td>
        <td align=center>
          <img src="img/imagensala2.jpeg" height="150px" width="200px">
          <h1>Sala2</h1>
        <h1>Segundo Piso</h1>
        <h1>300 personas</h1>
        <h1>Mañana</h1>
        </td>
        <td align=center>
          <img src="img/imagensala3.jpg" height="150px" width="200px">
          <h1>Sala3</h1>
        <h1>Tercer Piso</h1>
        <h1>300 personas</h1>
        <h1>Mañana</h1>
        </td>
        <td align=center>
          <img src="img/imagensala4.jpg" height="150px" width="200px">
          <h1>Sala4</h1>
        <h1>Cuarto Piso</h1>
        <h1>300 personas</h1>
        <h1>Mañana</h1>
        <td align=center>
          <img src="img/imagensala5.jpg" height="150px" width="200px">
          <h1>Sala5</h1>
        <h1>Quinto Piso</h1>
        <h1>300 personas</h1>
        <h1>Mañana</h1>
        </td><br>
      </tr>
    </table>
    <font size=7><strong>
        <center>Autocine</center>
    </font>
    <table width=30% align=center border=8>
      <tr>
        <td>
          <img src="img/imagensala2.jpeg" height="150px" width="200px">
          <h1>Sala2</h1>
        <h1>Segundo Piso</h1>
        <h1>300 personas</h1>
        <h1>Mañana</h1>
        </td>
        <td>
          <img src="img/imagensala3.jpg" height="150px" width="200px">
          <h1>Sala3</h1>
        <h1>Tercer Piso</h1>
        <h1>300 personas</h1>
        <h1>Mañana</h1>
        </td>
        <td>
          <img src="img/imagensala4.jpg" height="150px" width="200px">
        <h1>Sala4</h1>
        <h1>Cuarto Piso</h1>
        <h1>300 personas</h1>
        <h1>Mañana</h1>
        </td>
        <td>
          <img src="img/imagensala5.jpg" height="150px" width="200px">
          <h1>Sala1</h1>
        <h1>Quinto Piso</h1>
        <h1>300 personas</h1>
        <h1>Mañana</h1>
        </td>
      </tr>
    </table>
    </center>
    <hr>
    <font size=6><strong>
        <center>¡Tu mejor opcion, esta aqui con nosotros!
    </font>
    <hr>
    
  
    <p>¡Bienvenidos al Nuevo Autocine!
  
    <p>Si no tienes nada que hacer ven con nosotros, el Autocine te espera.
                                           
    <p>Te esperamos!                                                                      
  </body>
  
  </html>